@font-face {
  font-family: 'Palatino LT Std';
  src: url("../../fonts/PalatinoLTStd-Medium.eot");
  src: url("../../fonts/PalatinoLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/PalatinoLTStd-Medium.woff2") format("woff2"), url("../../fonts/PalatinoLTStd-Medium.woff") format("woff"), url("../../fonts/PalatinoLTStd-Medium.ttf") format("truetype"), url("../../fonts/PalatinoLTStd-Medium.svg#PalatinoLTStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

#carouselDIV *, h1 {
  font-family: "Futura Std";
  font-size: 3.8vw;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  #carouselDIV *, h1 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  #carouselDIV *, h1 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #carouselDIV *, h1 {
    font-size: 4vw;
  }
}

#socialDIV *, #privacyDIV *, h2 {
  font-family: "Futura Std";
  font-size: 1vw;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  #socialDIV *, #privacyDIV *, h2 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  #socialDIV *, #privacyDIV *, h2 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #socialDIV *, #privacyDIV *, h2 {
    font-size: 4vw;
  }
}

#bulletDIV p, #titleDIV *, #logoDIV *, h3 {
  font-family: "Futura Std";
  font-size: 2vw;
  margin-top: 0;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  #bulletDIV p, #titleDIV *, #logoDIV *, h3 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  #bulletDIV p, #titleDIV *, #logoDIV *, h3 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #bulletDIV p, #titleDIV *, #logoDIV *, h3 {
    font-size: 4vw;
  }
}

.button, #menuDIV *, h4 {
  font-family: "Futura Std";
  font-size: 1.2vw !important;
  margin-top: 0;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  .button, #menuDIV *, h4 {
    font-size: 3vw !important;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  .button, #menuDIV *, h4 {
    font-size: 2vw !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .button, #menuDIV *, h4 {
    font-size: 4vw !important;
  }
}

h1, h2, h3, p {
  color: #ffffff;
  font-weight: normal;
  margin: 0;
}

.bianco {
  color: #ffffff !important;
}

.blu {
  color: #007cba !important;
}

.blu2 {
  color: #1844AB !important;
}

.blu3 {
  color: #007AFC !important;
}

a:link, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  transition: 0.4 s;
}

#carouselDIV {
  opacity: 0;
  transition: 1.6s;
}

#logoDIV, #titleDIV, #menuDIV, #socialDIV, #privacyDIV, #bulletDIV, #navDIV {
  opacity: 0;
  transition: 4s;
}

#callDIV {
  opacity: 0;
  transition: 5s;
}

.opacity1 {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  background: blue;
  scroll-behavior: smooth;
}

.none {
  display: none !important;
}

.hide {
  visibility: hidden !important;
}

#gridHome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: "logo . . . . title title . . . . menu" ". . . . . . . . . . . ." ". . . . . . . . . . . ." ". . text text text text text text text text . social" ". . text text text text text text text text . social" ". . text text text text text text text text . social" "privacy . . . . call call . . . . ." "privacy . . . . . . . . . . ." "bullet bullet bullet . . . . . . . . .";
  height: calc(100vh - 45px);
  width: calc(100vw - 40px);
  padding: 20px 20px 25px;
}

#logoDIV {
  grid-area: logo;
}

#logoDIV p:nth-child(2) {
  margin-top: -11px;
}

#logoDIV span {
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#titleDIV {
  grid-area: title;
  display: inline-flex;
}

#titleDIV * {
  margin: 0 auto auto;
  text-align: center;
}

#titleDIV p {
  border-bottom: 2px solid white;
  display: inline-block;
}

#menuDIV {
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
}

#burger {
  width: 40%;
}

#slice1 {
  height: 2px;
  background-color: white;
  width: 100%;
}

#slice2 {
  height: 2px;
  background-color: white;
  width: 50%;
  margin-top: 10px;
  float: right;
}

#carouselDIV {
  grid-area: text;
  text-align: center;
}

#carouselDIV span {
  opacity: 0;
}

.button {
  background-color: transparent;
  border-radius: 200px;
  height: 45px;
  width: auto;
  padding: 0px 45px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border: #ffffff solid 2px;
  transition: 1s ease;
  margin-top: 30px;
}

.top1 a {
  bottom: 0px;
}

.top2 a {
  bottom: 50px !important;
}

.button:hover {
  transition: 400ms !important;
  background-color: #ffffff !important;
  color: blue !important;
}

.button:focus {
  outline: none !important;
}

#bulletDIV {
  grid-area: bullet;
  display: flex;
  align-items: flex-end;
}

.bulletContainer {
  display: inline-block;
  width: 32.5%;
}

.bulletLine {
  height: 2px;
  background-color: white;
  width: 100%;
}

#bulletLine1 {
  background-color: #ffffff;
  border-right: 4px solid #ffffff;
}

#bulletLine2 {
  background-color: #ffffff;
  border-right: 4px solid #ffffff;
  opacity: 0.66;
}

#bulletLine3 {
  background-color: #ffffff;
  border-right: 4px solid #ffffff;
  opacity: 0.33;
}

#navDIV {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 7vw;
  width: 14vw;
  display: flex;
}

#prevDIV {
  display: inline-flex;
  height: 100%;
  width: 50%;
  cursor: pointer;
}

#nextDIV {
  display: inline-flex;
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

#prevArrow {
  border-left: solid white 2px;
  border-bottom: solid white 2px;
  height: 25%;
  width: 25%;
  margin: auto;
  transform: rotate(45deg);
}

#nextArrow {
  border-left: solid blue 2px;
  border-bottom: solid blue 2px;
  height: 25%;
  width: 25%;
  margin: auto;
  transform: rotate(225deg);
}

#portfolioDIV {
  width: 100vw;
  font-size: 0 !important;
}

.uno {
  background-image: url("../Assets/img/aidemedia.jpg");
  background-size: cover;
}

.due {
  background-image: url("Assets/img/poggio.jpg");
}

.tre {
  background-image: url("Assets/img/angolo.jpg");
}

.quattro {
  background-image: url("Assets/img/silex.jpg");
}

.quadro {
  position: relative;
  width: 50vw;
  height: 35vw;
  display: inline-block;
}

.quadro img {
  height: 35vw;
  width: 50vw;
}

.overlay {
  opacity: 0;
  z-index: 999;
  transition: 300ms;
  height: 100%;
  width: 100%;
  background: blue;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.quadro:hover .overlay {
  opacity: 0.7;
}

#footer {
  background-color: #ffffff;
  padding: 60px 0 50px;
}

#footer * {
  color: blue;
  text-align: center;
}
