@font-face {
  font-family: 'Palatino LT Std';
  src: url("../../fonts/PalatinoLTStd-Medium.eot");
  src: url("../../fonts/PalatinoLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/PalatinoLTStd-Medium.woff2") format("woff2"), url("../../fonts/PalatinoLTStd-Medium.woff") format("woff"), url("../../fonts/PalatinoLTStd-Medium.ttf") format("truetype"), url("../../fonts/PalatinoLTStd-Medium.svg#PalatinoLTStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: "Futura Std";
  font-size: 3.77vw;
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h1 {
    font-size: 5vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h1 {
    font-size: 7vw;
  }
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h1 {
    font-size: 16vw;
  }
}

h2 {
  font-family: "Futura Std";
  font-size: 2.2vw;
  line-height: 3.8vw;
  letter-spacing: 2px;
}

@media (min-width: 1px) and (max-width: 479px) {
  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h2 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h2 {
    font-size: 3.8vw;
    line-height: 6vw;
  }
}

h3 {
  font-family: "Futura Std";
  font-size: 1.3vw;
  margin-top: 0;
  letter-spacing: 2px;
}

@media (min-width: 1px) and (max-width: 479px) {
  h3 {
    font-size: 3.7vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h3 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h3 {
    font-size: 2.7vw;
  }
}

h4 {
  font-family: "Futura Std";
  font-size: 1.8vw;
  margin-top: 0;
}

@media (min-width: 1px) and (max-width: 479px) {
  h4 {
    font-size: 3.5vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h4 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h4 {
    font-size: 4vw;
  }
}

p {
  font-family: "Futura Std";
  font-size: 1.2vw !important;
  margin-top: 0;
  letter-spacing: 2px;
}

@media (min-width: 1px) and (max-width: 479px) {
  p {
    font-size: 3.5vw !important;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  p {
    font-size: 2vw !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  p {
    font-size: 3vw !important;
  }
}

h1, h2, h3, h4, p, a {
  color: #ffffff;
  font-weight: normal;
  margin: 0;
}

a {
  cursor: pointer;
}

.bianco, h1, h2, h3, h4, p, a {
  color: #ffffff !important;
  opacity: 0.7;
  transition: 0.2s;
}

.barrato {
  text-decoration: line-through;
}

a:link, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  transition: 0.4 s;
  opacity: 1;
}

a:focus {
  outline: none;
}

.active * {
  opacity: 1 !important;
}

#carouselDIV {
  opacity: 0;
  transition: 1.6s;
}

#logoDIV, #titleDIV, #menuDIV, #socialDIV, #privacyDIV, #bulletDIV, #navDIV {
  opacity: 0;
  transition: 4s;
}

#callDIV {
  opacity: 0;
  transition: 5s;
}

.opacity1 {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

#background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #375d9d, #4ea685);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.none {
  display: none !important;
}

.hide {
  visibility: hidden !important;
}

#gridHome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: "logo . . . . title title . . . . menu" ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . . . . . . . . . . ." ". . . nav nav nav nav nav nav . . .";
  height: calc(100vh - 45px);
  width: calc(100vw - 40px);
  padding: 20px 20px 25px;
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #gridHome {
    grid-template-areas: 'logo logo logo . title title title title . menu menu menu' 'text text text text text text text text text text text text' 'text text text text text text text text text text text text' 'text text text text text text text text text text text text' 'text text text text text text text text text text text text' 'text text text text text text text text text text text text' 'text text text text text text text text text text text text' 'text text text text text text text text text text text text' '. nav nav nav nav nav nav nav nav nav nav .';
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  #gridHome {
    grid-template-areas: 'logo logo logo . title title title title . menu menu menu' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . . . . . . . . . . .' '. nav nav nav nav nav nav nav nav nav nav .';
  }
}

@media (min-width: 1px) and (max-width: 479px) {
  #gridHome {
    grid-template-areas: 'logo logo logo . title title title title . menu menu menu' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . text text text text text text text text . .' '. . . . . . . . . . . .' '. nav nav nav nav nav nav nav nav nav nav .';
  }
}

#logoDIV {
  grid-area: logo;
}

#logoDIV h4 span {
  animation: glow 0.8s infinite alternate;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.line-height {
  line-height: 1.35vw !important;
}

#titleDIV {
  grid-area: title;
  display: inline-flex;
}

#titleDIV * {
  margin: 0 auto auto;
  text-align: center;
}

#menuDIV {
  grid-area: menu;
  display: flex;
  justify-content: flex-end;
}

#menuDIV p {
  cursor: pointer;
}

#carouselDIV {
  grid-area: text;
  text-align: center;
}

#carouselDIV span {
  opacity: 0;
}

#carouselDIV .slick-list, #carouselDIV .slick-track, #carouselDIV [data-slick-index="1"] {
  height: 100%;
}

#carouselDIV [data-slick-index="1"] {
  overflow: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#carouselDIV *::-webkit-scrollbar {
  display: none !important;
}

#carouselDIV .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselDIV #worksList div {
  height: auto;
}

#carouselDIV #worksList a {
  display: inline-block;
}

#carouselDIV #contact h1 {
  margin-bottom: 24px;
}

#navDIV {
  grid-area: nav;
  display: flex;
  align-items: center;
}

#navDIV .nav {
  padding-top: 15px;
  transition: 1s;
  opacity: 1;
  width: 100%;
  display: flex !important;
}

#navDIV .nav > div {
  cursor: pointer;
  display: flex;
  width: 33.333%;
}

#navDIV .nav > div:nth-child(1) {
  justify-content: flex-start !important;
}

#navDIV .nav > div:nth-child(2) {
  justify-content: center !important;
}

#navDIV .nav > div:nth-child(3) {
  justify-content: flex-end !important;
}

#navDIV a {
  display: inline-block;
}

#navDIV a:active, #navDIV a:hover, #navDIV a:visited, #navDIV a:focus {
  opacity: 1;
}

* {
  min-width: 0;
  min-height: 0;
}
