@import font-face.sass
@import variables.sass

// --- --- Typography --- ---

// Testo slider
#carouselDIV *, h1
  font-family: nth($h1, 5)
  font-size: nth($h1, 1)
  @media #{$portrait}
    font-size: nth($h1, 4)
  @media #{$landscape}
    font-size: nth($h1, 3)
  @media #{$tablet}
    font-size: nth($h1, 2)

// h2
h2, #works a
  font-family: nth($h2, 5)
  font-size: nth($h2, 1)
  @media #{$portrait}
    font-size: nth($h2, 4)
  @media #{$landscape}
    font-size: nth($h2, 3)
  @media #{$tablet}
    font-size: nth($h2, 2)
  letter-spacing: 2px

// h3
#bulletDIV p, #titleDIV *, #logoDIV *, h3
  font-family: nth($h3, 5)
  font-size: nth($h3, 1)
  @media #{$portrait}
    font-size: nth($h3, 4)
  @media #{$landscape}
    font-size: nth($h3, 3)
  @media #{$tablet}
    font-size: nth($h3, 2)
  margin-top: 0

// h4
#menuDIV *, h4, #navDIV *
  font-family: nth($h4, 5)
  font-size: nth($h4, 1)!important
  @media #{$portrait}
    font-size: nth($h4, 4)!important
  @media #{$landscape}
    font-size: nth($h4, 3)!important
  @media #{$tablet}
    font-size: nth($h4, 2)!important
  margin-top: 0
  letter-spacing: 2px

// --- Typography colorz ---

// Main

h1, h2, h3, p, a
  color: $bianco
  font-weight: normal
  margin: 0
  @extend .bianco

a
  cursor: pointer


// <span> classes

.bianco
  color: $bianco !important
  opacity: 0.7
  transition: 0.3s


// --- Links ---

a:link, a:visited, a:active
  color: $bianco
  text-decoration: none

a:hover
  transition: 0.4 s
  opacity: 1

a:focus
  outline: none

// --- Animations ---

#carouselDIV
  opacity: 0
  transition: 1.6s

#logoDIV, #titleDIV, #menuDIV, #socialDIV, #privacyDIV, #bulletDIV, #navDIV
  opacity: 0
  transition: 4s

#callDIV
  opacity: 0
  transition: 5s

.opacity1
  opacity: 1!important

.opacity0
  opacity: 0

// layout (margin, padding, width, height, color, background-color, ...)

html, body
  margin: 0!important
  padding:0!important
  background: $colore6
  scroll-behavior: smooth


.none
  display: none!important

.hide
  visibility: hidden!important

// --- --- Home --- ---

#gridHome
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows:  repeat(9, 1fr)
  grid-template-areas: "logo . . . . title title . . . . menu" ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . text text text text text text text text . ." ". . . . . . . . . . . ." ". . . . . . . . . . . ." ". . . nav nav nav nav nav nav . . ."
  height: calc(100vh - 45px)
  width: calc(100vw - 40px)
  padding: 20px 20px 25px

#logoDIV
  grid-area: logo
  p:nth-child(2)
    margin-top: -11px
  span
    animation: glow 1.5s infinite

@keyframes glow
    0%
      opacity: 0
    50%
      opacity: 1
    100%
      opacity: 0


// Title section

#titleDIV
  grid-area: title
  display: inline-flex

#titleDIV
  *
    margin: 0 auto auto
    text-align: center

#menuDIV
  grid-area: menu
  display: flex
  justify-content: flex-end
  p
    cursor: pointer

#carouselDIV
  grid-area: text
  text-align: center
  span
    opacity: 0

#worksList
  padding-top: 40px
  a
    margin-top: 15px
    display: block
  a:hover
    margin-left: 10px

#navDIV
  grid-area: nav
  border-top: solid rgba(255, 255, 255, 0.7) 2px
  padding-top: 15px
  .nav > div
    display: inline-flex!important
    width: 32.6%
  .nav > div:nth-child(1)
    justify-content: flex-start!important
  .nav > div:nth-child(2)
    justify-content: center!important
  .nav > div:nth-child(3)
    justify-content: flex-end!important
  a
    display: inline-block



*
  min-width: 0
  min-height: 0
